
/* General */

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 4.5rem;
}

body a {
  color: #557754;
}

body a:hover {
  color: #2d3f2d;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e5e5e5;
  margin: 1em 0;
  padding: 0;
}

.hr-interconnection {
  margin: 3rem 0;
}

.jumping-point {
  position: relative;
  top: -4rem;
  z-index: -999;
}

.card {
  border: none;
  background-color: none;
}

.card-body {
  background-color: none;
}

.card-body.interconnection {
  padding-bottom: 0.4rem!important;
}

.card-header {
  margin: 0;
  padding: 0;
  border-bottom: none;
  background: none;
}

.item img {
  max-width: 50%;
  border-radius: 2px;
}

em {
  font-style: normal;
  position: relative;
  display: inline-block;
}

em:after {
  background: rgba(196,216,205,0.6);
  z-index: -999;
  content: ' ';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  position: absolute;
}

#page-content-wrapper ul {
  margin: 0;
  padding-left: inherit;
  text-indent: -15px;
  list-style-type: none;
}

#page-content-wrapper ul > li:before {
  content: "–";
  padding-right: 5px;
}



/* Navbar */

.navbar {
  z-index: 990;
  background-color: rgba(255,255,255,.9);
  border-bottom: 1px solid #e5e5e5;
}

.navbar .container {
  min-width: 100% !important;
  padding: 0 20px;
}

.navbar-brand i {
  color: #999999;
  font-family: 'Bad Script';
}

.navbar-brand #logo {
  height: 20px;
  margin: 0 8px 3px 0;
}

.nav-link p {
  padding: 0;
  margin: inherit;
  color: #999999;
}

.nav-link p:hover {
  color: #557754;
}

.nav-link p.active {
  color: #557754;
}

@media(max-width:768px) {
  .navbar {
    padding: 5px 0;
  }

  .navbar ul li a p {
    padding-top: 3px;
    margin: 0 -3px;
  }

  .navbar ul div a i {
    padding-top: 8px;
    margin: 0 -3px;
  }

  img#logo {
    display: none!important;
  }
}

.fas {
  padding-top: 5px;
}


/* Home */

#jules, #nellie {
  position: relative;
}

#nellieSignature, #julesSignature {
  position: absolute;
  margin: -30px 0 0 -30px;
  padding-right: 15px;
  opacity: 0.05;
  width: 100%;
}

@media(min-width:992px) {
  .portrait {
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .8s ease-in-out;
  }

  .portrait:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
  }
}

#overview a {
  text-decoration: none;
  color: #000000;
}

#overview p:hover {
  color: #557754;
}

#overview i {
  width: 10px;
  margin-right: 25px;
  text-align: center;
}

#overview p:hover i {
  color: #000000;
}

/* Items */

.row.items {
  padding-top: 10px;
}

.row.items .card-text {
  margin: 0!important;
}

.row.items .card-img-top {
  margin-bottom: 1.5rem;
}

.doodle-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 1.5rem;
}
.doodle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Graph */

#graph {
  min-width: 100%;
  max-width: 100%;
  border: 1px solid transparent;
}


/* Table */

.table {
  border-color: #e5e5e5;
  border-radius: 2px;
  margin: 0 0 20px 0;
}

.table .table-col-7 {width: 7%;}
.table .table-col-8 {width: 8%;}
.table .table-col-17 {width: 17%;}
.table .table-col-23 {width: 23%;}
.table .table-col-25 {width: 25%;}
.table .table-col-50 {width: 50%;}

.table > tbody > tr > td,
.table > thead > tr > th {
  padding: 1px 5px;
  margin: 0;
}

.table > thead > tr > th {
  font-size: 0.95rem;
  border-top: none;
}

.table > tbody > tr > td{
  font-size: 0.8rem;
}


/* XML / RDF */

.xml {
  padding: 0;
  margin-top: -1rem;
}

.hljs {
  background-color: #e5e5e5!important;
}

.xml-jump {
  font-size: 1rem;
  color: #999999;
  float: right;
}

.xml-jump:hover {
  cursor: pointer;
  color: #557754;
}

/* Toggle Sidebar */

/* Wrappter */

#wrapper {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-right: 250px;
}

#sidebar-wrapper {
  z-index: 980;
  position: fixed;
  right: 0;
  height: 100%;
  overflow-y: scroll;
  background-color: #FFFFFF;
  border-left: 1px solid #e5e5e5;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-left: -250px;
}


/* Sidebar */

.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0 0 8.5rem 0;
  list-style: none;
}

.dropdown-title > div a {
  width: 200px;
}

.dropdown-title > div:before {
  float: right !important;
  font-family: Helvetica;
  content: "–";
}

.dropdown-title > div:hover {
  cursor: pointer;
}

.dropdown-title > div.collapsed:before {
  content: "+";
}

.dropdown-title > div.collapsed:hover {
  cursor: pointer;
}

@media(max-width:768px) {
  .dropdown-title > div:before {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .dropdown-title > div.collapsed:before {
    font-weight: bold;
    font-size: 1.5rem;
  }
}

.sidebar-collapse {
  margin: 0;
  padding: 0 0 0 15px;
  list-style: none;
}

.sidebar-nav li,
.sidebar-collapse li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li p,
.sidebar-collapse li p {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.sidebar-nav li a,
.sidebar-collapse li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover,
.sidebar-collapse li a:hover {
  color: #557754;
}

.sidebar-nav li a.active,
.sidebar-collapse li a.active {
  display: block;
  text-decoration: none;
  color: #557754;
}

@media(min-width:992px) {
  #wrapper {
    padding-right: 250px;
  }

  #wrapper.toggled {
    padding-right: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    position: relative;
  }

  #wrapper.toggled #page-content-wrappe {
    position: relative;
    margin-right: 0;
  }
}
