
/* General */

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 4.5rem;
}

body a {
  color: #557754;
}

body a:hover {
  color: #2d3f2d;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e5e5e5;
  margin: 1em 0;
  padding: 0;
}

.card {
  border: none;
  background-color: none;
}

.card-body {
  background-color: none;
}

.card-header {
  margin: 0;
  padding: 0;
  border-bottom: none;
  background: none;
}

.item img {
  max-width: 50%;
  border-radius: 2px;
}


/* Navbar */

.navbar {
  background-color: rgba(255,255,255,.9);
  border-bottom: 1px solid #e5e5e5;
}

.navbar-brand i {
  color: #999999;
  font-family: 'Bad Script';
}

.nav-link p {
  padding: 0;
  margin: inherit;
  color: #999999;
}

.nav-link p:hover {
  color: #557754;
}

.nav-link p.active {
  color: #557754;
}


/* Home */

#jules, #nellie {
  position: relative;
}

#nellieSignature, #julesSignature {
  position: absolute;
  margin: -30px 0 0 -25px;
  padding-right: 15px;
  opacity: 0.1;
  width: 100%;
}

.portrait {
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .8s ease-in-out;
}

.portrait:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

#overview a {
  text-decoration: none;
  color: #000000;
}

#overview p:hover {
  color: #557754;
}

#overview i {
  width: 10px;
  margin-right: 25px;
  text-align: center;
}

#overview p:hover i {
  color: #000000;
}


/* Items */

#nav-tab {
  margin-top: 0;
  position: sticky;
}

.nav-link {
  color: black;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  border: 1px solid #e5e5e5;
  color: #557754;
  background-color: #fff;
}

#nav-tab .nav-link:hover {
  border: 1px solid #e5e5e5;
  color: #557754;
  background-color: #fff;
}


/* Graph */

#graph {
  min-width: 100%;
  max-width: 100%;
  border: 1px solid transparent;
}


/* Table */

.table {
  border-color: #e5e5e5;
  border-radius: 2px;
  margin: 0;
}

.table > thead > tr > th {
  border-color: #e5e5e5;
  border-top: none;
}

.table > tbody > tr > td{
  border-color: #e5e5e5;
}


/* Navigation Items / Alignement */

.nav-horizontal {
  z-index: 1;
  width: 100%;
  background-color: rgba(255,255,255,.9);
  padding-top: 0.5rem;
  top: 3.5rem;
  position: sticky;
  position: -webkit-sticky;
  margin-bottom: -6.5rem;
}

.nav-horizontal hr {
  width: 100%;
}

.nav-horizontal a {
  display: inline-block;
  color: #999999;
  line-height: 40px;
  text-decoration: none;
  border-right: 1px solid #e5e5e5;
  padding: 0px 10px;
}

.nav-horizontal a:last-of-type {
  border-right: none;
}

.nav-horizontal a:hover {
  color: #557754;
}

.container-fluid > section{
  padding-top: 7rem;
}

@media(min-width:576px) {
  .container-fluid > section:target  {
    padding-top: 10.5rem;
  }
}

@media(min-width:902px, max-width:985px) {
  .container-fluid > section:target  {
    padding-top: 6.5rem;
  }
}

@media(max-width:992px) {
  .container-fluid > section:target  {
    padding-top: 10.5rem;
  }
}

@media(min-width:1222px) {
  .container-fluid > section:target  {
    padding-top: 6.5rem;
  }
}


/* Toggle Sidebar */

/* Wrappter */

#wrapper {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-right: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 0;
  height: 100%;
  overflow-y: auto;
  border-left: 1px solid #e5e5e5;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-left: -250px;
}


/* Sidebar */

.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li p {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  color: #557754;
}

.sidebar-nav li a.active {
  display: block;
  text-decoration: none;
  color: #557754;
}

@media(min-width:992px) {
  #wrapper {
    padding-right: 250px;
  }

  #wrapper.toggled {
    padding-right: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    position: relative;
  }

  #wrapper.toggled #page-content-wrappe {
    position: relative;
    margin-right: 0;
  }
}
